<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemon:<p>
<ul>
<% @pokemons.each do |pokemon| %>
<li><%= pokemon.name %>, level: <%= pokemon.level %>, health: <%= pokemon.health %><%= button_to "Damage!", damage_path(id: pokemon.id), :class => "button small", :method => :patch %></li>
<% end %>
</ul>
<% if current_trainer.id == @trainer.id %>
<%= button_to "Create a new Pokemon!", pokemons_new_path, :class => "button medium", :method => :get %>
<% end %>